.pantalla {

    height: 18rem;
    background-color: rgb(255, 185, 234);
    padding: 1rem;

    font-size: 5rem;
    font-weight: 600;
    

    display: flex;
    align-items: end;
    justify-content: right;
}